.App {
  font-family: sans-serif;
  text-align: left;
  padding: 2em;
}

.menu {
  padding-bottom: 2em;
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
